.container {
    text-align: center;
    background: linear-gradient(to bottom, #254e70, #37718e);
    padding: 20px;
  }
  
  header {
    background-color: #c33c54;
    color: #fff;
    padding: 20px;
  }
  
  header h1 {
    margin: 0;
  }
  
  section {
    margin: 20px 0;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
   
  .section3 {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
  }
  
  h2 {
    color: #8ee3ef;
  }
  
  p {
    margin: 10px 0;
  }
  
  .icon-link {
    text-decoration: none;
    transition: transform 0.3s ease-in-out;
  }
  
  .icon-link:hover {
    transform: scale(1.2);
  }
  
  .icon-div {
    background-color: #aef3e7;
    padding: 20px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
  }
  
  .user-icon {
    color: #c33c54;
    font-size: 36px;
  }
  
  .social-icon {
    color: #37718e;
    font-size: 36px;
  }
  
  ul{
    list-style-type: none;
  }