.user-profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #93c6e5;  
  color: #254e70;  
  padding: 40px; 
  position: relative;
  
}

.user-info-display {
  text-align: center;
  margin-bottom: 30px; 
  padding: 50px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); 
  background-color: #8ee3ef;  
  border-radius: 10px;
}

.profile-image {
  width: 150px;  
  height: 150px; 
  border-radius: 50%;
  margin-bottom: 20px;  
  border: 3px solid #37718e;  
}

.edit-button,
button {
  background-color: #37718e;  
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 16px;  
  width: auto;  
  margin: auto;  
}

.edit-button:hover,
button:hover {
  background-color: #c33c54;  
}

.profile-form {
  width: 100%;
  max-width: 400px;
  background-color: #254e70;  
  padding: 30px;  
  border-radius: 10px;  
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  position: absolute; /* Postavljanje apsolutne pozicije za .profile-form */
  top: 50%; /* Pomera formu vertikalno na sredinu .user-profile-container */
  left: 50%; /* Pomera formu horizontalno na sredinu .user-profile-container */
  transform: translate(-50%, -50%); /* Centrira formu tačno na sredinu .user-profile-container */
  z-index: 1; /* Postavite veći z-index da biste formu stavili iznad ostalog sadržaja */
  background-color: rgba(37, 78, 112, 0.9); /* Promenite boju pozadine kako bi se bolje razlikovala */
  backdrop-filter: blur(5px); /* Dodajte efekat zamagljivanja pozadine iza modala (ako je podržan u pregledaču) */
  border: 2px solid #37718e; /* Dodajte ivicu modalu */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Dodajte senku modalu */
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"],
input[type="file"] {
  width: calc(100% - 20px);  
  padding: 10px;
  margin-bottom: 15px;  
  border-radius: 5px;
  border: 1px solid #37718e;  
  font-size: 16px;  
}
 
h2 {
  color: #37718e;
  margin-bottom: 20px;  
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
 
.user-info-display p {
  margin-bottom: 5px;  
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.fa-icon {
  margin-right: 8px;  
  color: #37718e;  
}